body{
 font-family:helvetica;
}

header{
  height: 800px;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("bee.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#286da8;
}
header h1{
  padding:1%;
  color: #fff;
  font-family: cursive;
}

.desc{
  font-family: cursive;
  padding-top: 30%;
  padding-right: 2%;
  float: right;
  width: 35%;
  color: #fff;
}
.desc h3{
  font-size: 350%;
  margin-bottom: -5%;
}
.desc p{
  font-size: 150%;
  width: 100%;
  line-height: 200%;
}

.desc button{
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid #76323f;
  width: 70%;
  height: 7%;
}

.desc button:hover{
  background-color: #000;
}

  nav{
  width: 70%;
  margin:0 auto;
}

nav ul{
  text-align: center;
  margin: -11% auto;
}
nav li{
  width: 10%;
  padding: 5%;
  display:inline-block;
  list-style-type:none;
  text-align: center;
}
 nav a{
   font-weight: normal;
 font-size:120%;
 padding: 3%;
color:fff;
font-family: lato;
text-decoration: none;
}

 nav a:hover{
  border-bottom: 5px solid #fff;
}

 .services{
  clear: both;
  width: 90%;
  margin:0 auto 5% auto ;
  text-align: center;
}

.services h1{
  text-transform: uppercase;
  font-family: cursive;
  color: #76323f;
  padding-top: 10%;
  font-size: 200%;
}
.gallery{
  width: 33.3%;
  float: left;
  box-sizing: border-box;
}
.gallery img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  box-shadow: 5px 7px 2px #dcdcdc;
}

.gallery h4{
font-style: cursive;
padding-top: 3%;
font-size:120%;
color: #c09f80;
font-family: cursive;
text-transform: capitalize;

 }
.gallery p{
  width: 70%;
  margin: 2% auto;
}

#about{
  margin-top: 55%;
  background-color: #d7cec7;
  padding-bottom: 1.5%;
}
.about1 p{
  font-size: 130%;
  width: 50%;
  padding: 0 5% 0 5%;
  text-align: center;
  box-sizing:border-box;
  line-height: 300%;

  float: left;
}

.about1 img{
   width: 50%;
   height: auto;
  box-sizing: border-box;
  float: right;
}

.about2 img{
  width: 50%;
  box-sizing: border-box;
  margin-top: ;
  float:  ;
}
.about2 p{
  font-size: 130%;
  width: 50%;
  padding: 0 5% 0 5%;
  text-align: center;
  box-sizing:border-box;
  line-height: 300%;
clear:  right;
  float: right;
}

.text{
  clear: both;
  margin: 5% auto;

  width: 70%;
  text-align: center;
  line-height: 200%;

}


footer{
  height:350px;
  background-color:#c09f80;
  margin: 0 auto;

}
footer h2{
  color: #fff;
  font-family: lato;
}
 #contact{
 width: 50%;
box-sizing: border-box;
padding:5% ;
float: left;
margin: 0 auto;}

#links{
  width: 50%;
 box-sizing: border-box;
 padding:5%;
 float: right;
 margin: 0 auto;
}

#links li{
  list-style: none;
}
#links a{
  text-decoration: none;
  font-size: 110%;
  color:#000;
  display: block;
  padding:2% 0;
  width:30%;
  border-bottom:1px solid #fff;
}
#links a:hover{
  color: #fff;
}

@media (min-width: 480px) and (max-width:768px) {
  header{
    height: 900px;
  }
 .desc{
  padding-top: 23%;
  width:40%;
  }
  .desc h3{
    font-size: 300%;
  }

  .desc button{
    width: 100%;
    height: 7%;
  }


    nav{
    width: 80%;
  }

  nav li{
    padding: 10%;
  }
    nav a:active{
    border-bottom: 5px solid #fff;
  }

   .services{
    clear: both;
    width: 90%;
    margin:0 auto 5% auto ;
    text-align: center;
  }

  .gallery{
    width: 90%;
    margin: 0 auto;
    float: none;
  }


  #about{
    margin-top: 20%;
    background-color: #d7cec7;
    padding-bottom:5%;
  }
  .about1 p{
    font-size: 110%;
  }

  .about2 p{
    font-size: 110%;
  }

  footer{
    height:250px;
     }
}


@media (max-width:480px){

  header{
    height: 600px;
  }

  .desc{
    padding-top: 20%;
    padding-right: 2%;
    width: 60%;
  }

  .desc h3{
    font-size: 180%;
    }
     .desc p{
       font-size: 120%;
     }
  .desc button{
     font-size: 70%;
    width: 100%;
  }

  .gallery{
    width: 90%;
    float:none;
    margin: 0 auto;
  }
  .gallery p{
  width: 99%;
}



  #about{
    overflow: hidden;
    margin-top: 25%;
    padding-bottom:0;
  }
  .about1 p{
    font-size: 110%;
    width: 100%;
    line-height: 130%;
    float: none;
  }

  .about1 img{
     width: 100%;
    float: none;
  }

  .about2 p{
    font-size: 110%;
    width: 100%;
    line-height: 130%;
    float: none;
  }

  .about2 img{
     width: 100%;
    float: none;
  }
  .text{
   width: 99%;
   font-size: 100%;
    line-height: 120%;
    text-align: left;
}


  footer{
    height:500px;
    background-color:#c09f80;
    margin: 0 auto;

  }

   #contact{
   width: 100%;
  text-align: center;
  float: none;
  margin: 0 auto;
}

  #links{
  width: 100%;
 text-align: center;
 float: none;
 margin: 0 auto;}
}


#links a{
  padding: 2% 0%;
  margin: 0 35%;
  text-align: center;
}}

 
 
  
  
 
































