  @import url('https://fonts.googleapis.com/css?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
 *{
  outline: none;
}
body{
font-family: 'Slabo 27px',serif ;
 width: 100%;
 margin: 0;
 padding:0%;

}
h1,h2,h3,h4{
  font-family: 'Economica',sans-serif ;
  color: #373239;
}
.cursive{
font-family: 'Reenie Beanie',cursive;
}
button{
  font-family: 'Economica',sans-serif ;
}

header{
  height: 800px;
  background:linear-gradient(rgba(233, 150, 122, 0.2),rgba(255, 250, 240, 0.2)), url("bee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#286da8;

}
 .desc{
  font-family: 'Indie Flower', cursive;

  padding-top: 15%;
  padding-right: 2%;
  float: right;
  width: 35%;
  color: #fff;
  animation: show;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 3s;
   position: relative;
}

@keyframes show {
 from{top: -700px}
 to{top:0}
}

.desc h3{
  font-size: 250%;
  color: #000;
}

.desc button{

  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid #dab692;
  width: 70%;
  height: 7%;
  text-transform: capitalize;
  border-radius: 1em;
  transition: all 2s;
}

.desc button:hover, .desc button:active{
  border: 2px solid #dab692;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-55px);
  -webkit-transform: translateX(-55px);

}


.desc button a{
  color: #fff;
  text-decoration: none;
}

.about{
  background-color:rgba(233, 183, 146, 0.3);
  margin-top: 0%;
  padding:2% 0;

}
.about .container {
width: 70%;
background-color: #fff;
margin: 5% auto;
padding: 2%;

}

.about h2{
  font-size: 210%;
  padding-left: 5%;
}
.about img{
  width: 90%;
  height: auto;
  display: block;
  margin: 1% auto;
}

.about p{
  line-height: 160%;
}
 .services{
  clear: both;
  width: 90%;
  margin:-3% auto 15% auto ;
  text-align: center;
}

.services h1{
  text-transform: uppercase;

  padding-top: 6%;

}
.gallery{
  width: 33.3%;
  float: left;
  box-sizing: border-box;
}
.gallery img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  box-shadow: 5px 7px 2px #dcdcdc;
}

.gallery h4{

padding-top: 3%;
font-size:120%;
color: #e9b792;
 text-transform: capitalize;

 }
.gallery p{
  width: 70%;
  margin: 2% auto;
}
.create{
  clear: both;
   background-color:rgba(233, 183, 146, 0.4);
   background-color: #faf0e6;
  height: auto;
  text-align: center;
  margin: 45% 0 5% 0;
  padding: 5%;
}
.create button{
  display: inline-block;
  padding: 2% 4%;
  border: none;
  text-transform: uppercase;

  background-color:#000;

}
.create a{
  color: #fff;
  text-decoration: none;
}
#portfolio{
  width: 80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows:repeat(12,7vw)
  grid-auto-flow: dense;
  grid-gap:1%;
}
#portfolio h1{
  text-transform: uppercase;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.small{
  grid-column: auto/span 2;
  grid-row: auto/span 1;
}
.horizontal{
grid-column: auto/span 5;
grid-row: auto/span 1;
}
.vertical{
  grid-column: auto/span 3;
  grid-row: auto/span 5;
}
.big{
  grid-row: auto/span 4;
  grid-column: auto/span 3;
}
#portfolio img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


  .text{
  clear: both;
  margin: 5% auto;

  width: 70%;
  text-align: center;
  line-height: 200%;

}


#contact{

  box-sizing: border-box;
  width: 100%;
  padding:2% 0;
height:800px;
margin-top: 10% auto 21% auto;
background-size: cover;
background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("zsz.jpg");
}

#contact h3,#contact p{
  text-align: center;
  font-size: 150%;
  color: #fff;
}


fieldset{
  padding: 1%;
  width: 50%;
  margin: 0 auto;
background-color: #fffaf4;
}


input,textarea{
  background-color: #fff;
  font-size: 105%;
  padding: 2%;
  margin: 3% 5%;
   border:1px solid #000;
  width: 90%;
}

textarea {
resize: none;
height: 20%;
}
form button{
 width: 70%;
  margin: 3% 15%;
  text-transform: uppercase;
  height: 7%;
  font-size: 120%;
  background-image: -webkit-linear-gradient(top left, #dab692, #fff);
  transition: all 2s;
}
form button:hover{
  background-image: -webkit-linear-gradient(top left, #fff,#dab692 );
  transform: scale(0.8, 0.7);
  -webkit-transform: scale(0.8, 0.95);
  -m-transform: scale(0.8, 0.95);
  -ms-transform: scale(0.8, 0.95);
  -o-transform: scale(0.8, 0.95);
}
form button:active{
  background-image: -webkit-linear-gradient(top left, #8a9ea7,#dab692 );
}
#result{
  font-size: 120%;
  color: #000;
  text-align: center;
}


 #instagram{
   text-align: center;
   padding: 4%;
   text-transform: capitalize;
 }


 #instagram h2{
   font-weight: bold;
   font-style: oblique;
   text-align: center;
   padding-top: 3%;
   font-size: 250%;
   text-decoration: none;
 }
 #instagram h3{
 color: #e9b792;
 }

 #instagram a{
   font-size: 200%;
   text-decoration: none;

}
#instagram a:hover,#instagram a:active{
   border-bottom: 1px solid #e9b792;
   text-decoration: underline;
 }
 .insta{
   display: grid;
   width: 70%;
   margin: 1% auto;
   grid-template-columns:repeat(3,1fr);
   grid-gap: 2%;
 }


 .insta img{
   width: 100%;
   height: auto;
 }

footer{
  background-color:rgba(243, 214, 210, 0.5);
  padding: 6%;
  text-align: center;
}
footer p{
  text-transform: capitalize;
}
.credit{
  font-style: oblique;

}

.credit a{
  color: #000;

}
@media (min-width: 480px) and (max-width:768px) {
  header{
    height: 900px;
  }
 .desc{
  padding-top: 23%;
  width:40%;
  }
  .desc h3{
    font-size: 200%;
  }

  .desc button{
    width: 100%;
    height: 7%;
  }

  .about .container {
  width: 85%;

  margin: 5% auto;
  padding: 3%;

  }

  .about p{
    line-height: 160%;
    text-align:center;
  }


   .services{
    clear: both;
    width: 90%;
    margin:0 auto 5% auto ;
    text-align: center;
  }

  .gallery{
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .create{

    margin: 15% 0 5% 0;
    padding: 7%;
  }

  #portfolio{
    width: 95%;
    margin: 20% auto 12% auto;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12,10vw);

  }
  #contact{

    padding:2%;
  height:700px;
  margin-top: 10% auto 21% auto;
  }

  fieldset{
    padding: 1%;
    width: 70%;
  }

  #instagram a{
    font-size: 150%;
    text-decoration: none;

  }
}


@media (max-width:480px){

  header{
    height: 500px;
  }

  header h1{
    padding:5%;
    color: #fff;
  }

  .desc{
    padding-top: 20%;
    padding-right: 2%;
    width: 90%;
    text-align: center;
  }

  .desc h3{
    font-size: 180%;
    }
     .desc p{
       font-size: 120%;
     }
  .desc button{
     font-size: 90%;
    width: 60%;
  }

  .about .container {
  width: 85%;

  margin: 5% auto;
  padding: 3%;

  }

  .about p{
    line-height: 160%;
    text-align:center;
  }

  .create{

    margin: 15% 0 5% 0;
    padding: 7%;
  }

  .gallery{
    width: 90%;
    float:none;
    margin: 0 auto;
  }
  .gallery p{
  width: 99%;
}



   .text{
   width: 85%;
   font-size: 100%;
    line-height: 120%;

}
#portfolio{
  width: 95%;
  margin: 25% auto 12% auto;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12,10vw);

}

#contact{
  width: 100%;
  padding:2%;
height:600px;
margin-top: 10% auto 21% auto;
}

fieldset{
  padding: 1%;
  width: 80%;
}


input,textarea{
  padding: 2%;
  margin: 3% 5%;
  width: 90%;
}

textarea {
resize: none;
height: 20%;
}
#instagram a{
  font-size: 150%;
  text-decoration: none;

}

}
